body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #5d315d 0%, #655c5c8a 50%, #512f56 100%);
  color: #e0e0e0; /* light gray text for readability */
}


button {
  cursor: pointer;
}